<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <h2 class="ion-text-center">Bienvenido!</h2>
    <p class="ion-text-center">Usuario: {{ username }}</p>

    <br>

    <h5 class="ion-text-center">Información Adicional</h5>

    <br>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" type="text" placeholder="Ingrese Nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="apellido" type="text" placeholder="Ingrese Apellido" required></ion-input>
    </ion-item>

    <!-- Combobox para Nivel de Educación -->
    <ion-item>
      <ion-label position="stacked">Nivel Educación</ion-label>
      <ion-select [(ngModel)]="nivelEducacion" placeholder="Seleccione Nivel" interface="popover">
        <ion-select-option value="primaria">Primaria</ion-select-option>
        <ion-select-option value="secundaria">Secundaria</ion-select-option>
        <ion-select-option value="universidad">Universidad</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo de fecha usando Angular Material -->
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Botones para Limpiar y Mostrar Información -->
    <div class="button-group">
      <ion-button expand="block" color="medium" (click)="limpiarCampos()">Limpiar</ion-button>
      <ion-button expand="block" color="primary" (click)="mostrarInformacion()">Mostrar</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">App desarrollada por los Teletubis</ion-title>
  </ion-toolbar>
</ion-footer>
